body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex; /* Set the container to flex */
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
}

.flexbox {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
    flex: 1 0 30%; /* Set flex-grow, flex-shrink, and flex-basis for responsiveness */
    max-width: 30%; /* Limit flex item width for small screens */
    box-sizing: border-box; /* Include padding and border in the width calculation */
}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: rgba(238, 239, 240, 0.714);
}

header {
    background-color: #e7e8e585;
    color: #000000;
    padding: 20px;
    justify-content: center;
}

nav,ul {
    list-style-type:lower-latin;
    padding: 1;
    background-color: #9068e4;

}

nav,ul,li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration:solid;
}
