body, html {
    transition: opacity 1s ease; 
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex; 
    flex-wrap: wrap; 
}

.jersey-20-charted-regular, h2, h1, body {
    font-family: "Jersey 20 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;}
.flexbox {
    background-color: #efd3d37e;
    padding: 10px;
    margin: 30px;
    flex: 1 0 30%; 
    max-width: 30%; 
    box-sizing: border-box;
    
}
.flexbox2 {
    background-color: #b8aaea;
    padding: 20px;
    margin: 10px;
    flex: 1 0 30%; 
    max-width: 30%; 
    box-sizing:content-box;
    position: absolute; 
    top: 530px; 
    right: 300px;
    
}
.flexbox3 {
    background-color: #77718b5f;
    padding: 10px;
    margin: 10px;
    flex: 1 0 30%; 
    max-width: 30%; 
    box-sizing:content-box;
    position: absolute; 
    top: 200px; 
    right: 20px;}
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 10px;
    background-color: rgba(238, 239, 240, 0.714);
    border-color: #000000;
}

header {
    background-color: #1e9aa16b;
    color: #000000;
    padding: 20px;
    justify-content: center;
    border-color: #000000;
    border: 1px solid #000000;
}
.divider {
    border-top: 1px solid #ccc;
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
nav,ul {
    list-style-type:lower-latin;
    padding: 2;
    background-color: #000000;

}

nav,ul,li {
    
    margin-right: 40px;
    display: inline;
    margin: 5px 0;}

nav ul li a {
    color: #fff;
    text-decoration:solid;
}




@media screen and (max-width: 768px) {
    main {
        flex-direction: row;
        align-items: center;
    }

    .flexbox {
        width: 90%;
    }
    .flexbox2 {
        display: none;
    }
    .image-flexbox{
        display: none;
    }
    .bingus-flexbox{
        display:none;
    }
}

footer {
    background-color: #aaead782;
    border-top: 1px solid #000000; 
    padding: 20px 0;
    text-align: center; 
}

nav {
    text-align: center;
}

nav ul li {
    display: inline; 
    margin: 5px 0; 
}
@media screen and (max-width: 768px) {
    main {
        flex-direction: row;
        align-items: center;
    }

    .flexbox {
        width: 90%;
    }
    nav {
        text-align: center; 
    }
    nav li {
        display: block; 
        margin: 5px 0; 
    }
    .element {
        background-color: rgb(193, 57, 57); 
    }
}

footer {
    background-color: #aaead782;
    border-top: 1px solid #000000; 
    padding: 20px 0;
    text-align: center; 
}


