body, h1, h2 { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial',} 
.special {color:rgb(43, 226, 43);}
h1{font-size: 5em;}
h2 {font-size: 5em;}
a {color:#0a2753;}
h2 {color: #e90000;}
h2 {background-color:#0017e9;}

.second {background-color: #0a2753;
border : 1px solid #ff0000;
padding: 30px;}
nav {background-color: #00dae9;}

nav a {color: #e97c00;}
nav a:hover {background-color:  #005de9;}
nav {background-color: #530a37;
    border : 1px solid rgb(14, 4, 4);
    padding: 10px;}
    nav {margin-bottom: 30px}
